body {
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
}
  #profile-img {
    max-width: 200px;
    margin-bottom: 10px;/* Mantiene la proporción de aspecto */
  }
  .modal-content {
    background-color: #000000; /* Color de fondo negro */
    color: #ffffff; /* Color del texto blanco */
  }
